*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(97, 94, 94);
}
h1{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 350px;
    background-color: rgb(63, 63, 104);
    color: azure;
    text-shadow: 7px 5px 10px rgb(103, 255, 103) ;
    transition: transform .2s;
    border-radius: 9px;
}
.card:hover{
    transform: scale(1.1);
}
span{
    font-size: 20px;

}
ul{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px;

}
.card__name{
    font-size: 30px;
    margin-top: 10px;
}
.card__main{

    width: 200px;
    display: flex;
    justify-content: center;
}
.card__inner{

    height: 30px;
}
.card__total{

    margin-top: 40px;
    /* display: flex;
    justify-content: center; */
    font-size: 40px;
}
.live{
    animation-name: live;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  height: 60px;
  animation-direction: alternate; 
}
@keyframes live {
  from {font-size: 20px;}
  to {font-size: 30px;}
  
}

